* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'system-ui', sans-serif;
	background-color: hsl(0 0% 95%);
	min-height: 100vh;
	display: grid;
	justify-items: center;
	padding: 2rem 0;
	gap: 2rem;
}

main {
	width: min(100% - 2rem, 100ch);
	margin: 0 auto;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem 0;
}

.card {
	--outer-spacing: 1.5rem;
	--inner-spacing: 0.5rem;
	--blur: 4px;
	width: min(100%, 45ch);
	padding: 1rem;
	background: url("data:image/svg+xml,%3Csvg width='540' height='228' viewBox='0 0 540 228' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M155.834 144.159C89.7615 158.93 25.6597 205.519 0.499987 228L421.159 228.458L540 228L540 0.50002C493.926 53.5979 431.482 106.843 367.532 125.682C303.582 144.522 221.757 129.103 155.834 144.159Z' fill='%23fafafa'/%3E%3C/svg%3E%0A")
		25% 0% / cover hsl(0 0% 100%);
	border-radius: 1rem;
	box-shadow: 0px 2px var(--blur) rgba(0, 0, 0, 0.1);
	transition: 0.15s ease-out;
	border: 1px solid hsl(0 0% 90%);
}

.card:hover {
	--blur: 20px;
}

.card > * + * {
	margin-top: var(--outer-spacing);
}

.card__header {
	display: flex;
	gap: var(--inner-spacing);
	align-items: center;
}

.card__qr-code {
	margin-left: auto;
}

.card__dp {
	padding: var(--inner-spacing);
	background-color: hsl(0 0% 94%);
	border-radius: 500px;
}

.card__id {
	font-size: 0.85rem;
}

.card__name {
	font-size: 1.25rem;
}

.card__group {
	display: flex;
	flex-direction: column;
	gap: var(--gap, var(--inner-spacing));
}

.card > .card__group {
	margin-left: var(--left, 0);
}

.card__group--horizontal {
	display: flex;
	flex-direction: row;
	gap: calc(var(--inner-spacing) * 2);
}

.card__field {
	display: flex;
	gap: calc(var(--inner-spacing) * 0.75);
	align-items: center;
	line-height: 1;
}

svg {
	flex-shrink: 0;
}

table {
	border-color: hsl(0 0% 75%);
}

tbody {
	border-radius: 8px;
}

th,
td {
	padding: 0.25rem 0.75rem;
}

th {
	background-color: hsl(0 0% 90%);
}

section {
	display: inherit
}